<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.InstallRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.install_record.InstallRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="install_record_num" jdbcType="VARCHAR" property="installRecordNum" />
    <result column="install_plan_date" jdbcType="DATE" property="installPlanDate" />
    <result column="install_actual_time" jdbcType="TIMESTAMP" property="installActualTime" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="install_status" jdbcType="VARCHAR" property="installStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="install_charge_person" jdbcType="INTEGER" property="installChargePerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="install_result" jdbcType="LONGVARCHAR" property="installResult" />
    <result column="install_info" jdbcType="LONGVARCHAR" property="installInfo" />
  </resultMap>


  <resultMap id="InstallRecordInfoMap" type="com.eservice.api.model.install_record.InstallRecordInfo">
    <!--
      WARNING - @mbg.generated
    -->

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="install_record_num" jdbcType="VARCHAR" property="installRecordNum" />
    <result column="install_plan_date" jdbcType="DATE" property="installPlanDate" />
    <result column="install_actual_time" jdbcType="TIMESTAMP" property="installActualTime" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="install_status" jdbcType="VARCHAR" property="installStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="install_charge_person" jdbcType="INTEGER" property="installChargePerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="install_result" jdbcType="LONGVARCHAR" property="installResult" />
    <result column="install_info" jdbcType="LONGVARCHAR" property="installInfo" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="nameplate_picture" jdbcType="VARCHAR" property="nameplatePicture" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
    <result column="head_num" jdbcType="VARCHAR" property="headNum" />
    <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
    <result column="customer_in_contract" jdbcType="VARCHAR" property="customerInContract" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="facory_date" jdbcType="DATE" property="facoryDate" />
    <result column="is_old_machine" jdbcType="VARCHAR" property="isOldMachine" />
    <result column="old_machine_check" jdbcType="VARCHAR" property="oldMachineCheck" />

    <result column="machineCustomerName" jdbcType="VARCHAR" property="machineCustomerName" />
    <result column="machineCustomerPhone" jdbcType="VARCHAR" property="machineCustomerPhone" />
    <result column="machineAgentName" jdbcType="VARCHAR" property="machineAgentName" />
    <result column="machineAgentPhone" jdbcType="VARCHAR" property="machineAgentPhone" />
    <result column="installChargePersonName" jdbcType="VARCHAR" property="installChargePersonName" />

  </resultMap>

  <select id="selectWaitProcessForGuest" resultMap="BaseResultMap">
    SELECT ir.*
    from install_record as ir
    <!-- 安装状态，
    0：已分配安装(但未接单）；1：已接受任务（不用驳回，如果有异议，电话沟通后可以重新派单）； 2：安装OK(客户未确认); 3：安装NG(如果用不到这个就不用）4：客户已确认
    -->
    JOIN contacts c on c.id = ir.contacter
    where c.account = #{contacter} AND ir.install_status = 2
  </select>
  <select id="selectByNameplate" resultMap="BaseResultMap">
    SELECT *
    FROM  install_record as ir
    where ir.machine_nameplate='${nameplate}'
  </select>

  <select id="getInstallDetail" resultMap="InstallRecordInfoMap">
    SELECT
      ir.*,
      userOfCustomerInMachine.name AS machineCustomerName,
      userOfCustomerInMachine.phone AS machineCustomerPhone,
      agentOfCustomerInMachine.`name` AS machineAgentName,
      agentOfCustomerInMachine.phone AS machineAgentPhone,
      m.facory_date,
      m.nameplate,
      m.machine_type,
      m.needle_num,
      m.head_num,
      m.head_distance,
      m.order_num,
      m.x_distance,
      m.y_distance,
      userOfCustomerInInstallRecord.`name` as customerInInstallRecord, -- 调试联系人
      userOfCustomerInInstallRecord.phone as customerPhoneInInstallRecord, -- 调试联系人电话
      m.address,
      userOfCustomerInInstallRecord.`name` as installChargePersonName -- 调试员
    FROM
	  install_record AS ir
      LEFT JOIN USER AS userOfCustomerInInstallRecord ON userOfCustomerInInstallRecord.id = ir.install_charge_person
      LEFT JOIN machine AS m ON m.nameplate = ir.machine_nameplate
      LEFT JOIN USER AS userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
      LEFT JOIN agent AS agentOfCustomerInMachine ON agentOfCustomerInMachine.id = userOfCustomerInMachine.agent
      WHERE nameplate = #{nameplate}
  </select>
</mapper>