<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.InstallRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.install_record.InstallRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="install_record_num" jdbcType="VARCHAR" property="installRecordNum" />
    <result column="install_plan_date" jdbcType="DATE" property="installPlanDate" />
    <result column="install_actual_time" jdbcType="TIMESTAMP" property="installActualTime" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="install_status" jdbcType="VARCHAR" property="installStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="install_charge_person" jdbcType="INTEGER" property="installChargePerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="install_result" jdbcType="LONGVARCHAR" property="installResult" />
    <result column="install_info" jdbcType="LONGVARCHAR" property="installInfo" />
  </resultMap>

  <resultMap id="InstallRecordInfoMap" type="com.eservice.api.model.install_record.InstallRecordInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="installRecordId" jdbcType="INTEGER" property="id" />
    <result column="install_record_num" jdbcType="VARCHAR" property="installRecordNum" />
    <result column="install_plan_date" jdbcType="DATE" property="installPlanDate" />
    <result column="install_actual_time" jdbcType="TIMESTAMP" property="installActualTime" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="install_status" jdbcType="VARCHAR" property="installStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="install_charge_person" jdbcType="INTEGER" property="installChargePerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="install_result" jdbcType="LONGVARCHAR" property="installResult" />
    <result column="install_info" jdbcType="LONGVARCHAR" property="installInfo" />

    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <!--<result column="contract_num" jdbcType="VARCHAR" property="contractNum" />-->
    <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
    <result column="customerAddressInInstallRecord" jdbcType="VARCHAR" property="customerAddressInInstallRecord" />
    <!--<result column="status" jdbcType="VARCHAR" property="status" />-->
    <!--<result column="nameplate_picture" jdbcType="VARCHAR" property="nameplatePicture" />-->
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
    <result column="head_num" jdbcType="VARCHAR" property="headNum" />
    <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
    <!--<result column="customer_in_contract" jdbcType="VARCHAR" property="customerInContract" />-->
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="facory_date" jdbcType="DATE" property="facoryDate" />
    <!--<result column="is_old_machine" jdbcType="VARCHAR" property="isOldMachine" />-->
    <!--<result column="old_machine_check" jdbcType="VARCHAR" property="oldMachineCheck" />-->

    <result column="machineCustomerName" jdbcType="VARCHAR" property="machineCustomerName" />
    <result column="machineCustomerId" jdbcType="VARCHAR" property="machineCustomerId" />
    <result column="installRecordCustomerName" jdbcType="VARCHAR" property="customerInInstallRecord" />
    <result column="machineCustomerPhone" jdbcType="VARCHAR" property="machineCustomerPhone" />
    <result column="machineAgentName" jdbcType="VARCHAR" property="machineAgentName" />
    <result column="machineAgentPhone" jdbcType="VARCHAR" property="machineAgentPhone" />
    <result column="installChargePersonName" jdbcType="VARCHAR" property="installChargePersonName" />
    <result column="installChargePersonPhone" jdbcType="VARCHAR" property="installChargePersonPhone" />
    <result column="installFeedbackCustomerMark" jdbcType="VARCHAR" property="installFeedbackCustomerMark" />
    <result column="installFeedbackCustomerSuggestion" jdbcType="VARCHAR" property="installFeedbackCustomerSuggestion" />
    <result column="machineAgentId" jdbcType="VARCHAR" property="machineAgentId" />
    <result column="machineCustomerCompanyId" jdbcType="VARCHAR" property="machineCustomerCompanyId" />
  </resultMap>

  <select id="selectByNameplate" resultMap="BaseResultMap">
    SELECT *
    FROM  install_record as ir
    where ir.machine_nameplate='${nameplate}'
  </select>

  <select id="getInstallDetail" resultMap="InstallRecordInfoMap">
   SELECT
    ir.id as installRecordId,
    ir.*,
--   attention：  注意显示账号还是名字
    userOfCustomerInMachine.name AS machineCustomerName,    -- 机器的客户的名称
    userOfCustomerInMachine.id AS machineCustomerId,
    userOfCustomerInMachine.phone AS machineCustomerPhone,  -- 机器的客户的电话
    agentOfCustomerInMachine.`name` AS machineAgentName,    -- 机器的客户的代理商的名称
    agentOfCustomerInMachine.phone AS machineAgentPhone,    -- 机器的客户的代理商的电话
    m.facory_date,
    m.nameplate,
    m.machine_type,
    m.needle_num,
    m.head_num,
    m.head_distance,
    m.order_num,
    m.x_distance,
    m.y_distance,
    userOfCustomerInInstallRecord.`name` as installRecordCustomerName, -- 调试联系人
    userOfCustomerInInstallRecord.phone as customerPhoneInInstallRecord, -- 调试联系人电话
    userOfCustomerInInstallRecord.address as customerAddressInInstallRecord,
    userOfChargePersonInInstallRecord.`name` as installChargePersonName, -- 调试员名称
    userOfChargePersonInInstallRecord.phone as installChargePersonPhone, -- 调试员电话
    icf.customer_mark as installFeedbackCustomerMark,
    icf.customer_suggestion as installFeedbackCustomerSuggestion
    FROM
    install_record AS ir
    LEFT JOIN user AS userOfChargePersonInInstallRecord ON userOfChargePersonInInstallRecord.id = ir.install_charge_person
    LEFT JOIN user AS userOfCustomerInInstallRecord ON userOfCustomerInInstallRecord.id = ir.customer
    LEFT JOIN machine AS m ON m.nameplate = ir.machine_nameplate
    LEFT JOIN user AS userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
    LEFT JOIN agent AS agentOfCustomerInMachine ON agentOfCustomerInMachine.id = userOfCustomerInMachine.agent
    LEFT JOIN install_customer_feedback as icf ON icf.id = ir.customer_feedback
    WHERE nameplate = #{nameplate}
  </select>

  <select id="getInstallRecordInfoList" resultMap="InstallRecordInfoMap">
    SELECT
    ir.id  as installRecordId,
    ir.*,
    userOfCustomerInMachine.name AS machineCustomerName,                  -- 机器的客户的名称
    userOfCustomerInMachine.id AS machineCustomerId,
    userOfCustomerInMachine.phone AS machineCustomerPhone,                -- 机器的客户的电话
    userOfCustomerInMachine.agent as machineAgentId,                      -- 机器的客户的代理商的ID号
    userOfCustomerInMachine.customer_company as machineCustomerCompanyId, -- 机器的客户的公司的ID号
    agentOfCustomerInMachine.`name` AS machineAgentName,                  -- 机器的客户的代理商的名称
    agentOfCustomerInMachine.phone AS machineAgentPhone,                  -- 机器的客户的代理商的电话
    m.facory_date,
    m.nameplate,
    m.machine_type,
    m.needle_num,
    m.head_num,
    m.head_distance,
    m.order_num,
    m.x_distance,
    m.y_distance,
    userOfCustomerInInstallRecord.`name` as installRecordCustomerName, -- 调试联系人
    userOfCustomerInInstallRecord.phone as customerPhoneInInstallRecord, -- 调试联系人电话
    userOfCustomerInInstallRecord.address as customerAddressInInstallRecord,
    userOfChargePersonInInstallRecord.`name` as installChargePersonName, -- 调试员
    userOfChargePersonInInstallRecord.phone as installChargePersonPhone,
    icf.customer_mark as installFeedbackCustomerMark,
    icf.customer_suggestion as installFeedbackCustomerSuggestion
    FROM
    install_record AS ir
    LEFT JOIN user AS userOfChargePersonInInstallRecord ON userOfChargePersonInInstallRecord.id = ir.install_charge_person
    LEFT JOIN user AS userOfCustomerInInstallRecord ON userOfCustomerInInstallRecord.id = ir.customer
    LEFT JOIN machine AS m ON m.nameplate = ir.machine_nameplate
    LEFT JOIN user AS userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
    LEFT JOIN agent AS agentOfCustomerInMachine ON agentOfCustomerInMachine.id = userOfCustomerInMachine.agent
    LEFT JOIN install_customer_feedback as icf ON icf.id = ir.customer_feedback
    WHERE 1=1
    <if test="isFuzzy == true">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate like CONCAT('%','${nameplate}','%' )
      </if>
      <if test="orderNum != null and orderNum != ''">
        AND m.order_num like CONCAT('%','${orderNum}','%' )
      </if>
      <if test="machineType != null and machineType != ''">
        AND m.machine_type like CONCAT('%','${machineType}','%' )
      </if>
      <if test="agent != null and agent != ''">
        <if test = "isAgent == true">
          AND agentOfCustomerInMachine.name = '${agent}'
        </if>
        <if test="isAgent == false || isAgent == null || isAgent == ''">
          AND agentOfCustomerInMachine.name like CONCAT('%','${agent}','%' )
        </if>
      </if>
      <if test="installRecordCustomerName != null and installRecordCustomerName != ''">
        AND userOfCustomerInInstallRecord.`name`   like CONCAT('%','${installRecordCustomerName}','%' )
      </if>
      <if test="installChargePersonName != null and installChargePersonName != ''">
        AND userOfChargePersonInInstallRecord.`name` like CONCAT('%','${installChargePersonName}','%' )
      </if>
      <if test="machineCustomerName != null and machineCustomerName != ''">
        AND userOfCustomerInMachine.`name` like CONCAT('%','${machineCustomerName}','%' )
      </if>
    </if>
    <if test="isFuzzy== false">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate ='${nameplate}'
      </if>
      <if test="orderNum != null and orderNum != ''">
        AND m.order_num = '${orderNum}'
      </if>
      <if test="machineType != null and machineType != ''">
        AND m.machine_type = '${machineType}'
      </if>
      <if test="agent != null and agent != ''">
        AND agentOfCustomerInMachine.`name` = '${agent}'
      </if>
      <if test="installRecordCustomerName != null and installRecordCustomerName != ''">
        AND userOfCustomerInInstallRecord.`name` = '${installRecordCustomerName}'
      </if>
      <if test="installChargePersonName != null and installChargePersonName != ''">
        AND userOfChargePersonInInstallRecord.`name` = '${installChargePersonName}'
      </if>
      <if test="machineCustomerName != null and machineCustomerName != ''">
        AND userOfCustomerInMachine.`name` = '${machineCustomerName}'
      </if>
    </if>

    <if test="installStatus != null and installStatus != ''">
      AND ir.install_status = '${installStatus}'
    </if>
    <if test="query_start_install_plan_date!=null and query_start_install_plan_date != '' ">
      and DATE_FORMAT(ir.install_plan_date,'%Y-%m-%d %T') &gt;= #{query_start_install_plan_date}
    </if>
    <if test="query_finish_install_plan_date!=null and query_finish_install_plan_date != '' ">
      and DATE_FORMAT(ir.install_plan_date,'%Y-%m-%d %T') &lt;= #{query_finish_install_plan_date}
    </if>

    <if test="query_start_facory_date!=null and query_start_facory_date != '' ">
      and DATE_FORMAT( m.facory_date,'%Y-%m-%d %T') &gt;= #{query_start_facory_date}
    </if>
    <if test="query_finish_facory_date!=null and query_finish_facory_date != '' ">
      and DATE_FORMAT( m.facory_date,'%Y-%m-%d %T') &lt;= #{query_finish_facory_date}
    </if>

    <if test="query_start_install_actual_time!=null and query_start_install_actual_time != '' ">
      and DATE_FORMAT( ir.install_actual_time,'%Y-%m-%d %T') &gt;= #{query_start_install_actual_time}
    </if>
    <if test="query_finish_install_actual_time!=null and query_finish_install_actual_time != '' ">
      and DATE_FORMAT( ir.install_actual_time,'%Y-%m-%d %T') &lt;= #{query_finish_install_actual_time}
    </if>

    <if test="installRecordId != null and installRecordId != ''">
      AND ir.id = '${installRecordId}'
    </if>

    ORDER By ir.create_time DESC, ir.update_time DESC, ir.install_actual_time DESC, ir.install_plan_date DESC, m.facory_date DESC
  </select>

  <select id="selectInstallTaskByUser" resultMap="com.eservice.api.dao.InstallRecordMapper.InstallRecordInfoMap">
    SELECT
    ir.install_status,
    ir.id as installRecordId,
    ir.machine_nameplate,
    m.*,
    userOfCustomerInInstallRecord.`name` as installRecordCustomerName,
      --  注意，   客户的名字，联系人的地址
    userOfCustomerInInstallRecord.address as customerAddressInInstallRecord,
    userOfCustomerInMachine.`name` as machineCustomerName

    FROM
    install_record as ir
    LEFT JOIN install_members as im ON im.install_record_id = ir.id
    LEFT JOIN user as userOfMembersInInstallRecord ON userOfMembersInInstallRecord.id = im.user_id
    LEFT JOIN user as userOfChargeInInstallRecord ON userOfChargeInInstallRecord.id = ir.install_charge_person
    LEFT JOIN machine as m ON m.nameplate = ir.machine_nameplate
    LEFT JOIN user as userOfCustomerInInstallRecord ON userOfCustomerInInstallRecord.id = ir.customer
    LEFT JOIN user as userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
--     安装状态，
--     0：待分配，
--     1：已分配(但未接单）
--     2：已接受
--     3：完成(客户未确认)，
--     4：已确认
    where (ir.install_status = 1 or ir.install_status = 2 or  ir.install_status = 3 )
    <if test="userName!=null and userName != '' ">
      and (userOfMembersInInstallRecord.account = #{userName} or  userOfChargeInInstallRecord.account = #{userName})
    </if>
    order by ir.update_time desc, ir.create_time desc
  </select>
</mapper>