<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MachineMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.machine.Machine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="nameplate_picture" jdbcType="VARCHAR" property="nameplatePicture" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
    <result column="head_num" jdbcType="VARCHAR" property="headNum" />
    <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
    <result column="customer_in_contract" jdbcType="VARCHAR" property="customerInContract" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="facory_date" jdbcType="DATE" property="facoryDate" />
    <result column="is_old_machine" jdbcType="VARCHAR" property="isOldMachine" />
    <result column="old_machine_check" jdbcType="VARCHAR" property="oldMachineCheck" />
  </resultMap>
  <resultMap id="MachineInfoMap" type="com.eservice.api.model.machine.MachineInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="nameplate_picture" jdbcType="VARCHAR" property="nameplatePicture" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
    <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
    <result column="head_num" jdbcType="VARCHAR" property="headNum" />
    <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
    <result column="customer_in_contract" jdbcType="VARCHAR" property="customerInContract" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="facory_date" jdbcType="DATE" property="facoryDate" />
    <result column="is_old_machine" jdbcType="VARCHAR" property="isOldMachine" />
    <result column="old_machine_check" jdbcType="VARCHAR" property="oldMachineCheck" />

    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="agent_name" jdbcType="VARCHAR" property="agent" />
    <result column="install_actual_time" jdbcType="DATE" property="installActualTime" />
    <!--<result column="install_charge_person_name" jdbcType="VARCHAR" property="installChargePerson" />-->
  </resultMap>

    <resultMap id="MachineBaseRecordInfoResultMap" type="com.eservice.api.model.machine.MachineBaseRecordInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
        <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
        <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
        <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="nameplate_picture" jdbcType="VARCHAR" property="nameplatePicture" />
        <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
        <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
        <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
        <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
        <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
        <result column="head_num" jdbcType="VARCHAR" property="headNum" />
        <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
        <result column="customer_in_contract" jdbcType="VARCHAR" property="customerInContract" />
        <result column="customer" jdbcType="INTEGER" property="customer" />
        <result column="facory_date" jdbcType="DATE" property="facoryDate" />
        <result column="is_old_machine" jdbcType="VARCHAR" property="isOldMachine" />
        <result column="old_machine_check" jdbcType="VARCHAR" property="oldMachineCheck" />

        <result column="install_actual_time" jdbcType="DATE" property="installActualTime" />
        <result column="install_charge_person_name" jdbcType="VARCHAR" property="installChargePersonName" />
        <result column="install_status" jdbcType="VARCHAR" property="installStatus" />
        <result column="maintain_date_actual" jdbcType="DATE" property="maintainDateActual" />
        <result column="maintain_charge_person_name" jdbcType="VARCHAR" property="maintainChargePersonName" />
        <result column="maintain_status" jdbcType="VARCHAR" property="maintainStatus" />
        <result column="repair_end_time" jdbcType="DATE" property="repairEndTime" />
        <result column="repair_charge_person_name" jdbcType="VARCHAR" property="repairChargePersonName" />
        <result column="repair_status" jdbcType="VARCHAR" property="repairStatus" />
        <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
        <result column="installRecordId" jdbcType="VARCHAR" property="installRecordId" />
        <result column="maintainRecordId" jdbcType="VARCHAR" property="maintainRecordId" />
        <result column="repairRecordId" jdbcType="VARCHAR" property="repairRecordId" />
    </resultMap>

    <select id="selectByAccount" resultMap="BaseResultMap">
    SELECT * from machine m
    left join user u on u.id = m.customer
    where u.account = '${account}'
  </select>

  <select id="getSaledMachineInfoList" resultMap="MachineInfoMap">

    SELECT
    u.name as customerName,
    a.name as agent_name,
    m.*, m.id as machineId,
    ir.install_actual_time
--     ir.install_charge_person,
--     userInInstallRecord.name as install_charge_person_name

    FROM machine m
    LEFT JOIN user u ON u.id=m.customer
    LEFT JOIN agent a on a.id =u.agent
    LEFT JOIN install_record ir ON ir.machine_nameplate = m.nameplate
--     LEFT JOIN user userInInstallRecord ON userInInstallRecord.id = ir.install_charge_person

    WHERE 1=1
    <if test="isFuzzy == true">
        <if test="customerName != null and customerName != ''">
            --         AND customerName like CONCAT('%','${customerName}','%' )
            AND u.account like CONCAT('%','${customerName}','%' )
        </if>
        <if test="agent != null and agent != ''">
            <if test = "isAgent == true">
                AND a.name = '${agent}'
            </if>
            <if test="isAgent == false || isAgent == null || isAgent == ''">
                AND a.name like CONCAT('%','${agent}','%' )
            </if>
        </if>
        <if test="nameplate != null and nameplate != ''">
            and m.nameplate like CONCAT('%','${nameplate}','%' )
        </if>
        <if test="orderNum != null and orderNum != ''">
            and m.order_num like CONCAT('%','${orderNum}','%' )
        </if>
        <if test="machineType != null and machineType != ''">
            and m.machine_type like CONCAT('%','${machineType}','%' )
        </if>
        <if test="machineWhereFrom != null and machineWhereFrom != ''">
            and m.is_old_machine  like CONCAT('%','${machineWhereFrom}','%' )
        </if>
        <!--<if test="installChargePerson != null and installChargePerson != ''">-->
        <!--and userInInstallRecord.name like CONCAT('%','${installChargePerson}','%' )-->
        <!--</if>-->
    </if>
    <if test="isFuzzy == false">
        <if test="customerName != null and customerName != ''">
            --         AND u.customerName ='${customerName}'
            AND u.account ='${customerName}'
        </if>
        <if test="agent != null and agent != ''">
            --         AND agent_name = '${agent}'
            AND a.name = '${agent}'
        </if>
        <if test="nameplate != null and nameplate != ''">
            and m.nameplate = '${nameplate}'
        </if>
        <if test="orderNum != null and orderNum != ''">
            and m.order_num = '${orderNum}'
        </if>
        <if test="machineType != null and machineType != ''">
            and m.machine_type = '${machineType}'
        </if>
        <if test="machineWhereFrom != null and machineWhereFrom != ''">
            and m.is_old_machine = '${machineWhereFrom}'
        </if>
        <!--<if test="installChargePerson != null and installChargePerson != ''">-->
        <!--and ir.install_charge_person = '${installChargePerson}'-->
        <!--</if>-->
    </if>

      <if test="status != null and status != ''">
          and m.status = #{status}
      </if>
      <if test="query_start_time_install!=null and query_start_time_install != '' ">
          and DATE_FORMAT(install_actual_time,'%Y-%m-%d %T') &gt;= #{query_start_time_install}
      </if>
      <if test="query_finish_time_install!=null and query_finish_time_install != '' ">
          and DATE_FORMAT(install_actual_time,'%Y-%m-%d %T') &lt;= #{query_finish_time_install}
      </if>
      ORDER By ir.install_actual_time DESC

  </select>

    <select id="selectBaseRecordByNameplate" resultMap="MachineBaseRecordInfoResultMap">
        SELECT
            m.nameplate,
            m.machine_type,
            m.x_distance,
            m.y_distance,
            m.head_distance,
            m.head_num,
            m.needle_num,
            ir.install_actual_time,
            ir.install_charge_person,
            userInInstallRecord. account AS install_charge_person_name,
            ir.install_status,
            mr.maintain_date_actual,
            mr.maintain_charge_person,
            userInMaintainRecord.`account` AS maintain_charge_person_name,
            mr.maintain_status,
            rr.repair_end_time,
            rr.repair_charge_person,
            userInRepairRecord.`account` AS repair_charge_person_name,
            rr.`status` AS repair_status,
            parts_info.parts_status
--             ,
-- 			ir.id as installRecordId,
-- 			mr.id as maintainRecordId,
-- 			rr.id as repairRecordId
        FROM
            machine AS m
        LEFT JOIN install_record AS ir ON ir.machine_nameplate = m.nameplate
        LEFT JOIN maintain_record AS mr ON mr.machine_nameplate = m.nameplate
        LEFT JOIN repair_record AS rr ON rr.machine_nameplate = m.nameplate
        LEFT JOIN USER AS userInInstallRecord ON userInInstallRecord.id = ir.install_charge_person
        LEFT JOIN USER AS userInMaintainRecord ON userInMaintainRecord.id = mr.maintain_charge_person
        LEFT JOIN USER AS userInRepairRecord ON userInRepairRecord.id = rr.repair_charge_person

        LEFT JOIN repair_actual_info as rai on rai.repair_record_id = rr.id
        LEFT JOIN parts_info on parts_info.repair_actual_info_id = rai.id

        WHERE m.nameplate = #{nameplate}
        order by ir.install_actual_time desc, mr.maintain_date_actual desc,  rr.repair_end_time desc
    </select>

    <select id="selectBaseRecordByUser" resultMap="MachineBaseRecordInfoResultMap">
        SELECT
            m.nameplate,
            m.machine_type,
            m.x_distance,
            m.y_distance,
            m.head_distance,
            m.head_num,
            m.needle_num,
            ir.install_actual_time,
            ir.install_charge_person,
            userInInstallRecord. account AS install_charge_person_name,
            ir.install_status,
            mr.maintain_date_actual,
            mr.maintain_charge_person,
            userInMaintainRecord.`account` AS maintain_charge_person_name,
            mr.maintain_status,
            rr.repair_end_time,
            rr.repair_charge_person,
            userInRepairRecord.`account` AS repair_charge_person_name,
            rr.`status` AS repair_status,
            parts_info.parts_status
--         ,
--             ir.id as installRecordId,
--             mr.id as maintainRecordId,
--             rr.id as repairRecordId
        FROM machine as m
        LEFT JOIN install_record as ir on ir.machine_nameplate = m.nameplate
        LEFT JOIN maintain_record as mr on mr.machine_nameplate = m.nameplate
        LEFT JOIN repair_record as rr on rr.machine_nameplate = m.nameplate

        LEFT JOIN user as userInInstallRecord on userInInstallRecord.id = ir.customer
        LEFT JOIN user as userInMaintainRecord on userInMaintainRecord.id = mr.customer
        LEFT JOIN user as userInRepairRecord on userInRepairRecord.id = rr.customer

        LEFT JOIN repair_actual_info as rai on rai.repair_record_id = rr.id
        LEFT JOIN parts_info on parts_info.repair_actual_info_id = rai.id

        where 1=1
        <if test="userName!=null and userName != '' ">
            and (
            (userInInstallRecord.`account` = #{userName} and ir.install_status = 2 ) -- 2：安装OK(客户未确认);
            or
            (userInMaintainRecord.`account` = #{userName} and mr.maintain_status =3) -- 3：保养完成(客户未确认)
            or
            (userInRepairRecord.`account` = #{userName} and (rr.`status` = 3 or parts_info.parts_status =2 or parts_info.parts_status =3 ))
            -- 3：维修成功(客户未确认)
            -- 1: 无需回寄，其他表示需要寄回(具体 2：未寄回，3：已寄回（待确认），4：已确认)
            )
        </if>
        order by mr.maintain_date_actual desc,  rr.repair_end_time desc,ir.install_actual_time desc
    </select>

    <select id="selectMachineByNameplate" resultMap="BaseResultMap">
        SELECT *
        from machine m
        where m.nameplate = #{nameplate}
    </select>
</mapper>