<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MaintainMembersMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.maintain_members.MaintainMembers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="maintain_record_id" jdbcType="INTEGER" property="maintainRecordId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <select id="getMembersByMaintainRecordId" resultMap="com.eservice.api.dao.UserMapper.BaseResultMap">
    SELECT
    `user`.*
    FROM
    maintain_members as mm
    LEFT JOIN maintain_record as mr ON mr.id = mm.maintain_record_id
    LEFT JOIN user ON mm.user_id = `user`.id
    where mr.id = #{maintainRecordId}
  </select>
</mapper>