<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MaintainRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.maintain_record.MaintainRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="maintain_lib_name" jdbcType="VARCHAR" property="maintainLibName" />
    <result column="maintain_date_plan" jdbcType="DATE" property="maintainDatePlan" />
    <result column="maintain_date_actual" jdbcType="DATE" property="maintainDateActual" />
    <result column="maintain_charge_person" jdbcType="INTEGER" property="maintainChargePerson" />
    <result column="maintain_suggestion" jdbcType="VARCHAR" property="maintainSuggestion" />
    <result column="customer" jdbcType="INTEGER" property="customer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="maintain_status" jdbcType="VARCHAR" property="maintainStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="maintain_info" jdbcType="LONGVARCHAR" property="maintainInfo" />
  </resultMap>


  <resultMap id="MaintainRecordInfoMap" type="com.eservice.api.model.maintain_record.MaintainRecordInfo">
      <!--
        WARNING - @mbg.generated
      -->
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
      <result column="maintain_lib_name" jdbcType="VARCHAR" property="maintainLibName" />
      <result column="maintain_date_plan" jdbcType="DATE" property="maintainDatePlan" />
      <result column="maintain_date_actual" jdbcType="DATE" property="maintainDateActual" />
      <result column="maintain_charge_person" jdbcType="INTEGER" property="maintainChargePerson" />
      <result column="maintain_suggestion" jdbcType="VARCHAR" property="maintainSuggestion" />
      <result column="customer" jdbcType="INTEGER" property="customer" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="maintain_status" jdbcType="VARCHAR" property="maintainStatus" />
      <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
      <result column="maintain_info" jdbcType="LONGVARCHAR" property="maintainInfo" />

      <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
      <result column="needle_num" jdbcType="VARCHAR" property="needleNum" />
      <result column="x_distance" jdbcType="VARCHAR" property="xDistance" />
      <result column="y_distance" jdbcType="VARCHAR" property="yDistance" />
      <result column="head_distance" jdbcType="VARCHAR" property="headDistance" />
      <result column="head_num" jdbcType="VARCHAR" property="headNum" />
      <result column="loadinglist" jdbcType="VARCHAR" property="loadinglist" />
      <result column="geo_location" jdbcType="VARCHAR" property="geoLocation" />
      <result column="customerAddressInMaintainRecord" jdbcType="VARCHAR" property="customerAddressInMaintainRecord" />
      <result column="customerNameInMaintainRecord" jdbcType="VARCHAR" property="customerNameInMaintainRecord" />
      <result column="customerPhoneInMaintainRecord" jdbcType="VARCHAR" property="customerPhoneInMaintainRecord" />
      <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
      <result column="facory_date" jdbcType="DATE" property="facoryDate" />
      <result column="maintain_charge_person_name" jdbcType="VARCHAR" property="maintainChargePersonName" />
      <result column="maintainChargePersonPhone" jdbcType="VARCHAR" property="maintainChargePersonPhone" />
      <result column="machineCustomerName" jdbcType="VARCHAR" property="machineCustomerName" />
      <result column="machineCustomerPhone" jdbcType="VARCHAR" property="machineCustomerPhone" />
      <result column="agent_name" jdbcType="VARCHAR" property="machineAgentName" />
      <result column="agent_phone" jdbcType="VARCHAR" property="machineAgentPhone" />
      <result column="maintainFeedbackCustomerMark" jdbcType="VARCHAR" property="maintainFeedbackCustomerMark" />
      <result column="maintainFeedbackCustomerSuggestion" jdbcType="VARCHAR" property="maintainFeedbackCustomerSuggestion" />

  </resultMap>

  <select id="selectByNameplate" resultMap="BaseResultMap">
    SELECT *
    FROM  maintain_record as mr
    where mr.machine_nameplate='${nameplate}'
  </select>

  <select id="getMaintainRecordInfoList" resultMap="MaintainRecordInfoMap">
      SELECT
      userOfCustomerInMachine.name as machineCustomerName,
      userOfCustomerInMachine.phone as machineCustomerPhone,
      a.name as agent_name,
      a.phone as agent_phone,
      mr.*,
      m.facory_date,
      m.nameplate,
      m.machine_type,
      m.needle_num,
      m.head_num,
      m.head_distance,
      m.order_num,
      m.x_distance,
      m.y_distance,
      m.loadinglist,
      m.geo_location,
      userOfCustomerInMaintainRecord.address as customerAddressInMaintainRecord,
      userOfCustomerInMaintainRecord.name  as customerNameInMaintainRecord,
      userOfCustomerInMaintainRecord.phone as customerPhoneInMaintainRecord,
      userOfMaintainChargePerson.name AS maintain_charge_person_name,
      userOfMaintainChargePerson.phone as maintainChargePersonPhone,
      mcf.customer_mark as maintainFeedbackCustomerMark,
      mcf.customer_suggestion as maintainFeedbackCustomerSuggestion

      FROM
      maintain_record mr
      LEFT JOIN machine m ON mr.machine_nameplate = m.nameplate
      LEFT JOIN `user` as userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
      LEFT JOIN agent a ON a.id = userOfCustomerInMachine.agent
      LEFT JOIN user userOfMaintainChargePerson ON userOfMaintainChargePerson.id = mr.maintain_charge_person
      LEFT JOIN user as userOfCustomerInMaintainRecord ON userOfCustomerInMaintainRecord.id = mr.customer
      LEFT JOIN maintain_customer_feedback as mcf ON mcf.id = mr.customer_feedback
    WHERE 1 = 1
    <if test="isFuzzy == true">
      <if test="customerName != null and customerName != ''">
--         AND customerName like CONCAT('%','${customerName}','%' )
        AND userOfCustomerInMachine.name like CONCAT('%','${customerName}','%' )
      </if>
      <if test="agent != null and agent != ''">
--         AND agent_name like CONCAT('%','${agent}','%' )
        AND a.name like CONCAT('%','${agent}','%' )
      </if>
      <if test="nameplate != null and nameplate != ''">
        and m.nameplate like CONCAT('%','${nameplate}','%' )
      </if>
      <if test="orderNum != null and orderNum != ''">
        and m.order_num like CONCAT('%','${orderNum}','%' )
      </if>
      <if test="machineType != null and machineType != ''">
        and m.machine_type like CONCAT('%','${machineType}','%' )
      </if>
      <if test="maintainChargePerson != null and maintainChargePerson != ''">
--         and mr.maintain_charge_person like CONCAT('%','${maintainChargePerson}','%' )
          and userInMaintainRecord.name like CONCAT('%','${maintainChargePerson}','%' )
      </if>
    </if>

    <if test="isFuzzy == false">
      <if test="customerName != null and customerName != ''">
--         AND customerName = '${customerName}'
        AND userOfCustomerInMachine.name = '${customerName}'
      </if>
      <if test="agent != null and agent != ''">
--         AND agent_name = '${agent}'
        AND a.name = '${agent}'
      </if>
      <if test="nameplate != null and nameplate != ''">
        and m.nameplate = '${nameplate}'
      </if>
      <if test="orderNum != null and orderNum != ''">
        and m.order_num = '${orderNum}'
      </if>
      <if test="machineType != null and machineType != ''">
        and m.machine_type = '${machineType}'
      </if>
      <if test="maintainChargePerson != null and maintainChargePerson != ''">
        and mr.maintain_charge_person = '${maintainChargePerson}'
      </if>
    </if>

    <if test="maintainStatus != null and maintainStatus != ''">
      and mr.maintain_status = #{maintainStatus}
    </if>
    <if test="query_start_time_maintain!=null and query_start_time_maintain != '' ">
      and DATE_FORMAT(maintain_date_actual,'%Y-%m-%d') &gt;= #{query_start_time_maintain}
    </if>
    <if test="query_finish_time_maintain!=null and query_finish_time_maintain != '' ">
      and DATE_FORMAT(maintain_date_actual,'%Y-%m-%d') &lt;= #{query_finish_time_maintain}
    </if>
    ORDER By mr.maintain_date_actual DESC
  </select>

    <select id="selectMaintainTaskMachine" resultMap="com.eservice.api.dao.MachineMapper.BaseResultMap">
        SELECT
        mr.`maintain_status`,
        m.*
        FROM
        maintain_record as mr
        LEFT JOIN maintain_members as mm ON mm.maintain_record_id = mr.id
        LEFT JOIN user as userOfMembersInMaintainRecord ON userOfMembersInMaintainRecord.id = mm.user_id
        LEFT JOIN user as userOfChargeInMaintainRecord ON userOfChargeInMaintainRecord.id = mr.maintain_charge_person
        LEFT JOIN machine as m ON m.nameplate = mr.machine_nameplate
        where
    -- 保养状态 0：待分配，1：已分配(但未接单）2：已接受任务，3：保养完成(客户未确认)，4：客户已确认保养结果
        (mr.maintain_status = 1 or mr.maintain_status = 2 or  mr.maintain_status = 3 )
        <if test="userName!=null and userName != '' ">
            and (userOfMembersInMaintainRecord.name = #{userName} or  userOfChargeInMaintainRecord.name = #{userName})
        </if>
    </select>

</mapper>