<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.MaintainRecordMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.maintain_record.MaintainRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate" />
    <result column="maintain_lib_name" jdbcType="VARCHAR" property="maintainLibName" />
    <result column="maintain_date_plan" jdbcType="DATE" property="maintainDatePlan" />
    <result column="maintain_date_actual" jdbcType="DATE" property="maintainDateActual" />
    <result column="maintain_charge_person" jdbcType="INTEGER" property="maintainChargePerson" />
    <result column="maintain_suggestion" jdbcType="VARCHAR" property="maintainSuggestion" />
    <result column="contacter" jdbcType="INTEGER" property="contacter" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="maintain_status" jdbcType="VARCHAR" property="maintainStatus" />
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback" />
    <result column="maintain_info" jdbcType="LONGVARCHAR" property="maintainInfo" />
  </resultMap>
  <select id="selectByNameplate" resultMap="BaseResultMap">
    SELECT *
    FROM  maintain_record as mr
    where mr.machine_nameplate='${nameplate}'
  </select>
</mapper>