<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.PartsInfoMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.parts_info.PartsInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parts_name" jdbcType="VARCHAR" property="partsName" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="repair_actual_info_id" jdbcType="INTEGER" property="repairActualInfoId" />
    <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
    <result column="sendback_tracking_number" jdbcType="VARCHAR" property="sendbackTrackingNumber" />
    <result column="sendback_tracking_pictrue" jdbcType="VARCHAR" property="sendbackTrackingPictrue" />
    <result column="sendback_date" jdbcType="DATE" property="sendbackDate" />
    <result column="sendback_confirmed_time" jdbcType="TIMESTAMP" property="sendbackConfirmedTime" />
    <result column="sendback_confirmed_person" jdbcType="INTEGER" property="sendbackConfirmedPerson" />
  </resultMap>

  <resultMap id="PartsAllInfoMap" type="com.eservice.api.model.parts_info.PartsAllInfo">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parts_name" jdbcType="VARCHAR" property="partsName" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="repair_actual_info_id" jdbcType="INTEGER" property="repairActualInfoId" />
    <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
    <result column="sendback_tracking_number" jdbcType="VARCHAR" property="sendbackTrackingNumber" />
    <result column="sendback_tracking_pictrue" jdbcType="VARCHAR" property="sendbackTrackingPictrue" />
    <result column="sendback_date" jdbcType="DATE" property="sendbackDate" />
    <result column="sendback_confirmed_time" jdbcType="TIMESTAMP" property="sendbackConfirmedTime" />
    <result column="sendback_confirmed_person" jdbcType="INTEGER" property="sendbackConfirmedPerson" />

    <result column="sendbackConfirmedPersonName" jdbcType="VARCHAR" property="sendbackConfirmedPersonName" />
    <result column="repairChargePersonName" jdbcType="VARCHAR" property="repairChargePersonName" />
    <result column="customerNameInRepairRecord" jdbcType="VARCHAR" property="customerNameInRepairRecord" />
  </resultMap>


  <resultMap id="PartsInfoWithRepairRecordInfoMap" type="com.eservice.api.model.parts_info.PartsInfoWithRepairRecordInfo">
    <!--
     WARNING - @mbg.generated
   -->
    <id column="repairRecordId" jdbcType="INTEGER" property="id"/>
    <result column="repair_record_num" jdbcType="VARCHAR" property="repairRecordNum"/>
    <result column="customer" jdbcType="INTEGER" property="customer"/>
    <result column="machine_nameplate" jdbcType="VARCHAR" property="machineNameplate"/>
    <result column="repair_request_info" jdbcType="INTEGER" property="repairRequestInfo"/>
    <result column="in_warranty_period" jdbcType="VARCHAR" property="inWarrantyPeriod"/>
    <result column="repair_plan_date" jdbcType="DATE" property="repairPlanDate"/>
    <result column="repair_charge_person" jdbcType="INTEGER" property="repairChargePerson"/>
    <result column="repair_start_time" jdbcType="TIMESTAMP" property="repairStartTime"/>
    <result column="repair_end_time" jdbcType="TIMESTAMP" property="repairEndTime"/>
    <result column="customer_feedback" jdbcType="INTEGER" property="customerFeedback"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="forward_info" jdbcType="INTEGER" property="forwardInfo"/>

    <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
    <result column="machineCustomerName" jdbcType="VARCHAR" property="machineCustomerName"/>
    <result column="machineAgentName" jdbcType="VARCHAR" property="machineAgentName"/>
    <result column="facory_date" jdbcType="DATE" property="facoryDate"/>
    <result column="issuePositionList" jdbcType="VARCHAR" property="issuePositionList"/>
    <result column="repairChargePersonName" jdbcType="VARCHAR" property="repairChargePersonName"/>
    <result column="repairChargePersonPhone" jdbcType="VARCHAR" property="repairChargePersonPhone"/>
    <result column="machineCustomerPhone" jdbcType="VARCHAR" property="machineCustomerPhone"/>
    <result column="machineAgentPhone" jdbcType="VARCHAR" property="machineAgentPhone"/>
    <result column="machine_type" jdbcType="VARCHAR" property="machineType"/>
    <result column="needle_num" jdbcType="VARCHAR" property="needleNum"/>
    <result column="head_num" jdbcType="VARCHAR" property="headNum"/>
    <result column="head_distance" jdbcType="VARCHAR" property="headDistance"/>
    <result column="x_distance" jdbcType="VARCHAR" property="xDistance"/>
    <result column="y_distance" jdbcType="VARCHAR" property="yDistance"/>
    <result column="repairRecordCustomerName" jdbcType="VARCHAR" property="customerNameInRepairRecord"/>
    <result column="customerPhoneInRepairRecord" jdbcType="VARCHAR" property="customerPhoneInRepairRecord"/>
    <result column="customerAddressInRepairRecord" jdbcType="VARCHAR" property="customerAddressInRepairRecord"/>

    <result column="repairRequestTitle" jdbcType="VARCHAR" property="repairRequestTitle"/>
    <result column="repairRequestContent" jdbcType="VARCHAR" property="repairRequestContent"/>
    <result column="repairRequestVoice" jdbcType="VARCHAR" property="repairRequestVoice"/>
    <result column="repairRequestPictures" jdbcType="VARCHAR" property="repairRequestPictures"/>
    <result column="repairActualIssueDescription" jdbcType="VARCHAR" property="repairActualIssueDescription"/>
    <result column="repairActualMethod" jdbcType="VARCHAR" property="repairActualMethod"/>
    <result column="afterResolvePictures" jdbcType="VARCHAR" property="afterResolvePictures"/>
    <!--partsInfo start-->
    <result column="parts_name" jdbcType="VARCHAR" property="partsName" />
    <result column="supplier" jdbcType="VARCHAR" property="partsSupplier" />
    <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
    <result column="sendback_tracking_number" jdbcType="VARCHAR" property="sendbackTrackingNumber" />
    <result column="sendback_tracking_pictrue" jdbcType="VARCHAR" property="sendbackTrackingPictrue" />
    <result column="sendback_date" jdbcType="DATE" property="sendbackDate" />
    <result column="sendback_confirmed_time" jdbcType="DATE" property="sendbackConfirmedTime" />
    <result column="sendbackConfirmedPersonName" jdbcType="VARCHAR" property="sendbackConfirmedPersonName" />
    <result column="repair_actual_info_id" jdbcType="VARCHAR" property="repairActualInfoId" />
    <result column="partsInfoId" jdbcType="VARCHAR" property="partsInfoId" />
    <!--partsInfo end-->
    <result column="repairFeedbackCustomerMark" jdbcType="VARCHAR" property="repairFeedbackCustomerMark"/>
    <result column="repairFeedbackCustomerSuggestion" jdbcType="VARCHAR" property="repairFeedbackCustomerSuggestion"/>
    <result column="repairFeedbackRepairResult" jdbcType="VARCHAR" property="repairFeedbackRepairResult"/>
    <result column="machineAgentId" jdbcType="VARCHAR" property="machineAgentId"/>
    <result column="machineCustomerCompanyId" jdbcType="VARCHAR" property="machineCustomerCompanyId"/>
  </resultMap>

  <select id="getPartsInfoByRepairRecordId" resultMap="PartsAllInfoMap">
    SELECT
    parts_info.*,
    userOfSendbackConfirmedPerson.`name`  AS sendbackConfirmedPersonName
    from parts_info
    LEFT JOIN user as userOfSendbackConfirmedPerson ON userOfSendbackConfirmedPerson.id = parts_info.sendback_confirmed_person
    LEFT JOIN repair_actual_info as rai ON rai.id = parts_info.repair_actual_info_id
    LEFT JOIN repair_record as rr ON rr.id = rai.repair_record_id
    WHERE  rr.id = #{repairRecordId}
--      * 配件寄回状态，
--      * 1: 无需回寄，其他表示需要寄回
--      * 2：未寄回，
--      * 3：已寄回（待售后确认）
--      * 4：售后已确认
    and  parts_info.parts_status = '2'
  </select>

  <select id="getPartsInfoList" resultMap="PartsAllInfoMap">
    SELECT
    parts_info.*,
    userOfSendbackConfirmedPerson.`name`  AS sendbackConfirmedPersonName,
    userOfRepairChargePerson.`name` AS repairChargePersonName,
    userOfCustomerInRepairRecord.`name` AS customerNameInRepairRecord
    from parts_info
    LEFT JOIN `user` AS userOfSendbackConfirmedPerson ON userOfSendbackConfirmedPerson.id = parts_info.sendback_confirmed_person
    LEFT JOIN repair_actual_info AS rai ON rai.id = parts_info.repair_actual_info_id
    LEFT JOIN repair_record AS rr ON rr.id = rai.repair_record_id
    LEFT JOIN machine AS m ON m.nameplate = rr.machine_nameplate
    LEFT JOIN `user` AS userOfMachineCustomer ON userOfMachineCustomer.id = m.customer
    LEFT JOIN `user` AS userOfRepairChargePerson ON userOfRepairChargePerson.id = rr.repair_charge_person
    LEFT JOIN `user` AS userOfCustomerInRepairRecord ON userOfCustomerInRepairRecord.id = rr.customer
    WHERE 1=1
    <if test="isFuzzy == true">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate like CONCAT('%','${nameplate}','%' )
      </if>
      <if test="partsName != null and partsName != ''">
        AND parts_info.parts_name like CONCAT('%','${partsName}','%' )
      </if>
      <if test="customerNameInMachine != null and customerNameInMachine != ''">
        AND userOfMachineCustomer.`name` like CONCAT('%','${customerNameInMachine}','%' )
      </if>
      <if test="repairChargePersonName != null and repairChargePersonName != ''">
        AND userOfRepairChargePerson.`name` like CONCAT('%','${repairChargePersonName}','%' )
      </if>
      <if test="supplier != null and supplier != ''">
        AND parts_info.supplier like CONCAT('%','${supplier}','%' )
      </if>
      <if test="sendbackConfirmedPerson != null and sendbackConfirmedPerson != ''">
        AND userOfSendbackConfirmedPerson.name like CONCAT('%','${sendbackConfirmedPerson}','%' )
      </if>
      <if test="sendbackTrackingNumber != null and sendbackTrackingNumber != ''">
        AND parts_info.sendback_tracking_number like CONCAT('%','${sendbackTrackingNumber}','%' )
      </if>
    </if>

    <if test="isFuzzy== false">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate = #{nameplate}
      </if>
      <if test="partsName != null and partsName != ''">
        AND parts_info.parts_name = #{partsName}
      </if>
      <if test="customerNameInMachine != null and customerNameInMachine != ''">
        AND userOfMachineCustomer.`name` = #{customerNameInMachine}
      </if>
      <if test="repairChargePersonName != null and repairChargePersonName != ''">
        AND userOfRepairChargePerson.`name` = #{repairChargePersonName}
      </if>
      <if test="supplier != null and supplier != ''">
        AND parts_info.supplier = #{supplier}
      </if>
      <if test="sendbackConfirmedPerson != null and sendbackConfirmedPerson != ''">
        AND userOfSendbackConfirmedPerson.name = #{sendbackConfirmedPerson}
      </if>
      <if test="sendbackTrackingNumber != null and sendbackTrackingNumber != ''">
        AND parts_info.sendback_tracking_number = #{sendbackTrackingNumber}
      </if>
    </if>

    <if test="partsStatus != null and partsStatus != ''">
      AND parts_info.parts_status = #{partsStatus}
    </if>
    <if test="queryStartSendbackConfirmedTime!=null and queryStartSendbackConfirmedTime != '' ">
      and DATE_FORMAT( parts_info.sendback_confirmed_time,'%Y-%m-%d %T') &gt;= #{queryStartSendbackConfirmedTime}
    </if>
    <if test="queryFinishSendbackConfirmedTime!=null and queryFinishSendbackConfirmedTime != '' ">
      and DATE_FORMAT( parts_info.sendback_confirmed_time,'%Y-%m-%d %T') &lt;= #{queryFinishSendbackConfirmedTime}
    </if>

    ORDER BY parts_info.sendback_confirmed_time DESC
  </select>

  <select id="getPartsInfoTaskByUserName" resultMap="PartsInfoWithRepairRecordInfoMap">
    SELECT
    m.order_num,
    userOfCustomerInMachine.`name` as machineCustomerName,
    parts_info.id as partsInfoId,
    parts_info.*,
    userOfSendbackConfirmedPerson.name as sendbackConfirmedPersonName,
    a.name as machineAgentName,
    m.facory_date,
    rai.issue_position as issuePositionList,
    userOfRepairChargePerson.`name` as repairChargePersonName,
    userOfRepairChargePerson.`phone` as repairChargePersonPhone,
    userOfCustomerInMachine.phone as machineCustomerPhone,
    userOfCustomerInMachine.agent as machineAgentId,                      -- 机器的客户的代理商的ID号
    userOfCustomerInMachine.customer_company as machineCustomerCompanyId, -- 机器的客户的公司的ID号
    a.phone as machineAgentPhone,
    m.machine_type,m.needle_num,m.head_num,m.head_distance,m.x_distance,m.y_distance,
    userOfCustomerInRepairRecord.`name` as repairRecordCustomerName, -- 客户方的维修联系人
    userOfCustomerInRepairRecord.phone as customerPhoneInRepairRecord,
    userOfCustomerInRepairRecord.address as customerAddressInRepairRecord,
    rri.repair_title as repairRequestTitle,
    rri.content as repairRequestContent,
    rri.voice as repairRequestVoice,
    rri.pictures as repairRequestPictures,
    rai.issue_description as repairActualIssueDescription,
    rai.repair_method as repairActualMethod,
    rai.after_resolve_pictures as afterResolvePictures,
    rr.id as repairRecordId,
    rr.*,
    rcf.customer_mark as repairFeedbackCustomerMark,
    rcf.customer_suggestion as repairFeedbackCustomerSuggestion

    from repair_record as rr
    LEFT JOIN machine as m ON m.nameplate = rr.machine_nameplate
    LEFT JOIN `user` as userOfCustomerInMachine ON userOfCustomerInMachine.id = m.customer
    LEFT JOIN agent as a ON a.id = userOfCustomerInMachine.agent
    LEFT JOIN repair_actual_info as rai ON rai.repair_record_id = rr.id
--     LEFT JOIN issue_position_list as ipl ON ipl.id = rai.issue_position
    LEFT JOIN user as userOfRepairChargePerson ON userOfRepairChargePerson.id = rr.repair_charge_person
    LEFT JOIN user as userOfCustomerInRepairRecord ON userOfCustomerInRepairRecord.id = rr.customer
    LEFT JOIN repair_request_info as rri ON rri.id = rr.repair_request_info
    LEFT JOIN repair_customer_feedback as rcf ON rcf.id = rr.customer_feedback
    LEFT JOIN parts_info ON parts_info.repair_actual_info_id = rai.id
    LEFT JOIN user AS userOfSendbackConfirmedPerson ON userOfSendbackConfirmedPerson.id = parts_info.sendback_confirmed_person
    WHERE 1=1
    --  1: 无需回寄，其他表示需要寄回(具体 2：未寄回，3：已寄回（待确认），4：已确认)
    AND (parts_info.parts_status = '2' or parts_info.parts_status = '3')
    AND userOfCustomerInRepairRecord.`name` = #{userName}
  </select>

</mapper>