<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.PartsInfoMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.parts_info.PartsInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parts_name" jdbcType="VARCHAR" property="partsName" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="repair_actual_info_id" jdbcType="INTEGER" property="repairActualInfoId" />
    <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
    <result column="sendback_tracking_number" jdbcType="VARCHAR" property="sendbackTrackingNumber" />
    <result column="sendback_tracking_pictrue" jdbcType="VARCHAR" property="sendbackTrackingPictrue" />
    <result column="sendback_date" jdbcType="DATE" property="sendbackDate" />
    <result column="sendback_confirmed_time" jdbcType="TIMESTAMP" property="sendbackConfirmedTime" />
    <result column="sendback_confirmed_person" jdbcType="INTEGER" property="sendbackConfirmedPerson" />
  </resultMap>

  <resultMap id="PartsAllInfoMap" type="com.eservice.api.model.parts_info.PartsAllInfo">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parts_name" jdbcType="VARCHAR" property="partsName" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="repair_actual_info_id" jdbcType="INTEGER" property="repairActualInfoId" />
    <result column="parts_status" jdbcType="VARCHAR" property="partsStatus" />
    <result column="sendback_tracking_number" jdbcType="VARCHAR" property="sendbackTrackingNumber" />
    <result column="sendback_tracking_pictrue" jdbcType="VARCHAR" property="sendbackTrackingPictrue" />
    <result column="sendback_date" jdbcType="DATE" property="sendbackDate" />
    <result column="sendback_confirmed_time" jdbcType="TIMESTAMP" property="sendbackConfirmedTime" />
    <result column="sendback_confirmed_person" jdbcType="INTEGER" property="sendbackConfirmedPerson" />

    <result column="sendbackConfirmedPersonName" jdbcType="INTEGER" property="sendbackConfirmedPersonName" />
  </resultMap>

  <select id="getPartsInfoByRepairRecordId" resultMap="PartsAllInfoMap">
    SELECT
    parts_info.*,
    userOfSendbackConfirmedPerson.`name`  AS sendbackConfirmedPersonName
    from parts_info
    LEFT JOIN user as userOfSendbackConfirmedPerson ON userOfSendbackConfirmedPerson.id = parts_info.sendback_confirmed_person
    LEFT JOIN repair_actual_info as rai ON rai.id = parts_info.repair_actual_info_id
    LEFT JOIN repair_record as rr ON rr.id = rai.repair_record_id
    WHERE  rr.id = #{repairRecordId}
  </select>

  <select id="getPartsInfoList" resultMap="PartsAllInfoMap">
    SELECT
    parts_info.*,
    userOfSendbackConfirmedPerson.`name`  AS sendbackConfirmedPersonName
    from parts_info
    LEFT JOIN `user` AS userOfSendbackConfirmedPerson ON userOfSendbackConfirmedPerson.id = parts_info.sendback_confirmed_person
    LEFT JOIN repair_actual_info AS rai ON rai.id = parts_info.repair_actual_info_id
    LEFT JOIN repair_record AS rr ON rr.id = rai.repair_record_id
    LEFT JOIN machine AS m ON m.nameplate = rr.machine_nameplate
    LEFT JOIN `user`  AS userOfMachineCustomer ON userOfMachineCustomer.id = m.customer
    LEFT JOIN `user`  AS userOfRepairChargePerson ON userOfRepairChargePerson.id = rr.repair_charge_person
    WHERE 1=1
    <if test="isFuzzy == true">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate like CONCAT('%','${nameplate}','%' )
      </if>
      <if test="partsName != null and partsName != ''">
        AND parts_info.parts_name like CONCAT('%','${partsName}','%' )
      </if>
      <if test="customerNameInMachine != null and customerNameInMachine != ''">
        AND userOfMachineCustomer.`name` like CONCAT('%','${customerNameInMachine}','%' )
      </if>
      <if test="repairChargePersonName != null and repairChargePersonName != ''">
        AND userOfRepairChargePerson.`name` like CONCAT('%','${repairChargePersonName}','%' )
      </if>
      <if test="supplier != null and supplier != ''">
        AND parts_info.supplier like CONCAT('%','${supplier}','%' )
      </if>
      <if test="sendbackConfirmedPerson != null and sendbackConfirmedPerson != ''">
        AND userOfSendbackConfirmedPerson.name like CONCAT('%','${sendbackConfirmedPerson}','%' )
      </if>
      <if test="sendbackTrackingNumber != null and sendbackTrackingNumber != ''">
        AND parts_info.sendback_tracking_number like CONCAT('%','${sendbackTrackingNumber}','%' )
      </if>
    </if>

    <if test="isFuzzy== false">
      <if test="nameplate != null and nameplate != ''">
        AND m.nameplate = #{nameplate}
      </if>
      <if test="partsName != null and partsName != ''">
        AND parts_info.parts_name = #{partsName}
      </if>
      <if test="customerNameInMachine != null and customerNameInMachine != ''">
        AND userOfMachineCustomer.`name` = #{customerNameInMachine}
      </if>
      <if test="repairChargePersonName != null and repairChargePersonName != ''">
        AND userOfRepairChargePerson.`name` = #{repairChargePersonName}
      </if>
      <if test="supplier != null and supplier != ''">
        AND parts_info.supplier = #{supplier}
      </if>
      <if test="sendbackConfirmedPerson != null and sendbackConfirmedPerson != ''">
        AND userOfSendbackConfirmedPerson.name = #{sendbackConfirmedPerson}
      </if>
      <if test="sendbackTrackingNumber != null and sendbackTrackingNumber != ''">
        AND parts_info.sendback_tracking_number = #{sendbackTrackingNumber}
      </if>
    </if>

    <if test="partsStatus != null and partsStatus != ''">
      AND parts_info.parts_status = #{partsStatus}
    </if>
    <if test="queryStartSendbackConfirmedTime!=null and queryStartSendbackConfirmedTime != '' ">
      and DATE_FORMAT( parts_info.sendback_confirmed_time,'%Y-%m-%d %T') &gt;= #{queryStartSendbackConfirmedTime}
    </if>
    <if test="queryFinishSendbackConfirmedTime!=null and queryFinishSendbackConfirmedTime != '' ">
      and DATE_FORMAT( parts_info.sendback_confirmed_time,'%Y-%m-%d %T') &lt;= #{queryFinishSendbackConfirmedTime}
    </if>

    ORDER BY parts_info.sendback_confirmed_time DESC
  </select>

</mapper>