<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.WechatUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.wechat_user_info.WechatUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="union_id" jdbcType="VARCHAR" property="unionID" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="headimgrul" jdbcType="VARCHAR" property="headimgrul" />
    <result column="privilege" jdbcType="LONGVARCHAR" property="privilege" />
  </resultMap>
  <select id="getWechatUserInfoByUnionId" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        wechat_user_info AS wui
    WHERE
        wui.union_id = #{unionId}
  </select>

  <select id="getWechatUserInfoByAccount" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      wechat_user_info AS wui
    LEFT JOIN `user` AS u ON wui.union_id = u.wechat_union_id
    WHERE
      u.account = #{account}
  </select>
 </mapper>